<div class="col-md-12">
<div class="card card-container">
  <form *ngIf="!loggedIn"
    name="form"
    (ngSubmit)=" onSubmit()"
    #f="ngForm"
    
  >
    <div class="form-group">
      <label for="username">Username</label>
      <input placeholder="Username"
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.email"
        required
        #username="ngModel"
      />
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="username.errors && f.submitted"
      >
        Username is required!
      </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="form-group inner-addon right-addon">
      <div class="input-group col-6 mx-auto"></div>
      <label for="password">Password</label>
      <input name="password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control pwd-control"
            id="password-field" placeholder="Password"
            [(ngModel)]="form.password"
        required
        #password="ngModel">
        <div>
          <i alt="show" class="fa fa-eye" 
          (click)="showPassword = !showPassword"
          [class.hide]="showPassword"></i>
          <i alt="hide" class="fa fa-eye-slash" 
          (click)="showPassword = !showPassword"
          [class.hide]="!showPassword"></i>
        </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="password.errors && f.submitted"
      >
        <div *ngIf="form.password.errors.required"></div>
        <div *ngIf="form.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <!-- <button (click)="onClick()">
      <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
      <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
    </button> -->

    <div class="form-group">
      <button class="btn btn-primary btn-block">
        Login
      </button>
    </div>
    <div class="form-group">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted"
      >
       Login failed : Try Again.
      </div>
    </div>
  </form>
  <div class="alert alert-success" *ngIf="loggedIn">
    {{msg2}}
  </div>
  <div class="alert alert-success" *ngIf="loggedIn">
    <button class="btn btn-primary btn-block" (click)="logout()">
      Logout
    </button>
  </div>
</div>
</div> 