<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Full Name</label>
                        <input type="text" class="form-control" id="fullName" [(ngModel)]="users.fullName"
                            name="fullName">
                    </div>

                    <div class="form-group">
                        <label> Email</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="users.email"
                            name="email">
                    </div>
                    <div class="form-group">
                        <label> Contact</label>
                        <input type="text" class="form-control" id="contactNo" [(ngModel)]="users.contactNo"
                            name="contactNo">
                    </div>
                    <div class="form-group">
                        <label> Gender</label>
                        <input type="text" class="form-control" id="gender" [(ngModel)]="users.gender"
                            name="gender">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>